{{ template "base" }}

{{ define "title" }}
  About Page
{{ end }}

{{ define "js" }}
<script>
  // comment
</script>
{{ end }}

{{ define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>About</h1>
      <p>It's about time.</p>    
    </div>
  </div>
</div>

{{ end }}
