{{ template "base" }}

{{ define "title" }}
  About Page
{{ end }}


{{ define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>About</h1>
      <p>It's about time.</p> 
      <p>Debug: {{printf "%#v" .}}</p> 
      <p>Test: {{ .Title }}</p>  
    </div>
  </div>
</div>

{{ end }}

{{ define "js" }}
<script>
  // comment
</script>
{{ end }}
