{{ template "base" . }}

{{ define "title"}}Home
{{end}}


{{ define "content" }}
<div class="container">
    <div class="row">
      <div class="col">
        <h1>Home Page</h1>
        <p>And a bit of text, ja</p>
      </div>
    </div>
  </div>
{{ end }}


{{define "js"}}
<p>Just some text in the wrong place</p>
{{end}}
 
